<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= setting(:header_title) %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/normalize.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/style.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/nprogress.css") %>">
  </head>

  <body>

    <div id="wrapper">
      <header class="site-header">
        <div class="container">
          <div id="site-navigation">
            <div class="site-title-wrapper">
              <h1 class="site-title"><a class="js-ajax-link"  href="#">Blex Blog</a></h1>
              <h1 class="site-description" >Blex Blog</h1>
            </div>
            <ul class="site-nav">
              <li class="site-nav-item"><a class="js-ajax-link" href="#">Latest Post</a></li>
              <li class="site-nav-item"><a class="js-ajax-link js-show-index"  href="#">Browse Posts</a></li>
              <%= if @current_user do %>
                <li class="site-nav-item">
                  <%= link "Sign out", to: signout_session_path(@conn, :delete) %>
                </li>
                <li class="site-nav-item">
                  <%= link "Settings", to: admin_settings_path(@conn, :index) %>
                </li>
                <li class="site-nav-item">
                  <%= link "New Post", to: admin_post_path(@conn, :new) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </header>
      <div id="ajax-container">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="site-title-wrapper">
          <h1 class="site-title">
            Blex
          </h1>
          <a class="button-square button-jump-top js-jump-top" href="#"><i class="fa fa-angle-up"></i></a>
        </div>
        <p class="footer-copyright">&copy; 2016 / Published with <a href="https://ghost.org">Ghost</a> / <a href="https://github.com/dklisiaris/ghostbot">Ghostbot theme</a> By <a href="http://klisiaris.org">dklisiaris</a></p>
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
